;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :dev-http
 {8000 {:roots ["shadow/" "resources/public/"]
        :proxy-url "http://localhost:9876"}}

 :builds
 {:app {:target :browser
        :output-dir "shadow/rfjs"
        :asset-path "/rfjs"
        :modules
        {:main
         {:entries [rainbowfish.client]
          :init-fn rainbowfish.client/init
          :devtools {:after-load rainbowfish.client/reload}}}}}}
