*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}
 
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .15);
}
 
::-webkit-scrollbar-thumb {
  background: rgba(0, 32, 0, .5);
  border-radius: .5rem;
  padding: .5rem;
}

html, body, #main {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: Segoe UI;
}

label {
  font-weight: bold;
}

#main {
  display: flex;
  flex-direction: column;
}

#main > header,
#main > main {
  padding: .5rem;
}
      
#main > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: greenyellow;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

#main > main {
  flex: 1;
  height: 0; /* Limits the growth of the container. */

  display: flex;
  flex-direction: row;
}

.topicmod {
  margin: 1rem;
  box-shadow: .25rem .25rem 1rem 0 rgba(0, 0, 0, .125);
  min-width: 50rem;
  overflow: hidden;

  flex: 0;

  display: flex;
  flex-direction: column;
}

.topicmod.selected {
  outline: 1px solid green;
}

.topicmod .toolbar {
  margin: .25rem;
  padding: .25rem;

  display: flex;
  justify-content: flex-end;

  background-color: greenyellow;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.topicmod .toolbar > * {
  margin: .125rem;
}

.topicmod .toolbar .name {
    font-weight: bold;
    flex: 1;
}

.topicmod .content {
  margin-left: .25rem;

  flex: 1;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.topicmod .content > div {
  padding: .5rem;

  border-right: .25rem solid white;
  border-bottom: .25rem solid white;

  background-color: #fafafa;

  overflow: auto;
}

.topicmod .content .codem {
  margin-top: .5rem;
}

.topicmod .content .codem > * {
    height: 100%;
}

.topicmod .content .preview {
  flex: 1;
  border-radius: .25rem;
  height: 100%;
}

.topicmod .content .preview details {
    height: 100%;
    width: 100%;

    position: relative;
}

.topicmod .content .preview details div.content {
    position: absolute;

    margin: .25rem;
    padding: .25rem;
    
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: white;
    outline: 1px solid rgba(0, 0, 0, .125);
    outline-offset: 2px;
}

.topicmod .error {
    padding: .25rem 0;
    margin: .25rem 0;
    border-bottom: 2px dotted lightgray;
}

.topicmod .line,
.topicmod .column {
    font-size: .75rem;
    display: inline-block;
    padding: .125rem .25rem;
    margin-right: .5rem;
    background-color: greenyellow;
    border-radius: .5rem;
}

.topicmod .message {
    font-style: italic;
}

#topic-q {
  min-width: 15rem;
  margin: auto .25rem .25rem;
}

#topic-q:invalid {
  background-color: rgba(255, 212, 212);
}
