*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: .5em;
  height: .5em;
}
 
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .15);
  border-radius: .15rem;
}
 
::-webkit-scrollbar-thumb {
  background: rgba(0, 32, 0, .5);
  border-radius: .15rem;
  padding: .5rem;
}

html, body, #main {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: Segoe UI;
}

#main {
  display: flex;
  flex-direction: column;
}

#main > header,
#main > main {
  padding: .5rem;
}
      
#main > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: greenyellow;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

#main > main {
  flex: 1;
  height: 0; /* Setting height limits the growth of the container. */

  display: flex;
  flex-direction: row;
}

.topic-module {
  margin: 1rem;
  box-shadow: .25rem .25rem 1rem 0 rgba(0, 0, 0, .125);
  min-width: 50rem;
  overflow: hidden;

  flex: 0;

  display: flex;
  flex-direction: column;
}

.topic-module.selected {
  outline: 1px solid green;
}

.topic-toolbar {
  margin: .25rem;
  padding: .25rem;

  display: flex;
  justify-content: flex-end;

  background-color: greenyellow;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.topic-toolbar > button {
  margin: .125rem;
}

.topic-content {
  margin-left: .25rem;

  flex: 1;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.topic-content > div {
  padding: .5rem;

  border-right: .25rem solid white;
  border-bottom: .25rem solid white;

  min-height: 10rem;
  min-width: 20rem;

  background-color: #fafafa;

  overflow: auto;
}
