{:basex-path "./basex"
 :backend {:port 9876}
 :api-prefix "_RF_"
 :sites
 [{:path "eogadev"
   :xmldb "devoga"
   :hosts ["eogadev" "eoga.dev"]}
   {:path "emmanueloga"
    :xmldb "comoga"
    :hosts ["emmanueloga" "emmanueloga.com"]}]}
