{:basex-path "./basex"

 :http-api-port 9876

 :jena-embedded true
 :jena-port 3330

 :rdf-server "http://localhost:3330/ds"

 :sites
 [{:path "eogadev"
   :xmldb "devoga"
   :default-author "Emmanuel Oga"
   :canonical "https://eoga.dev"
   :hosts ["eogadev" "eoga.dev"]}
   {:path "emmanueloga"
    :xmldb "comoga"
    :canonical "https://emmanueloga.com"
    :default-author "Emmanuel Oga"
    :hosts ["emmanueloga" "emmanueloga.com"]}]}
