{:basex-path "./basex"
 :backend {:port 9876}
 :sites
 [{:path "eogadev"
   :xmldb "devoga"
   :default-author "Emmanuel Oga"
   :cannonical "eoga.dev"
   :hosts ["eogadev" "eoga.dev"]}
   {:path "emmanueloga"
    :xmldb "comoga"
    :cannonical "emmanueloga.com"
    :default-author "Emmanuel Oga"
    :hosts ["emmanueloga" "emmanueloga.com"]}]}
