:root {
  --text-color: rgba(0, 0, 64);
  --text-color-bright: rgba(0, 0, 128);
  --text-color-dim: rgba(0, 0, 72);
  --banner-height: 6rem;
}

* {
  box-sizing: border-box;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: var(--color-bright);
}

a:visited {
  color: var(--color-dim);
}

html {
  font-size: 16px;
}

/*******************************************************************************/

body {
  font-family: "Segoe UI", serif;
  font-size: 1.25rem;
  line-height: 1.5;

  color: var(--text-color);

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.top-banner {
  position: absolute;
  height: var(--banner-height);
  top: 0; left: 0; right: 0;
  background-color: black;
  z-index: -1;
}

.main-content {
  flex: 1;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  z-index: 1;
  background-color: white;
  position: relative;
}

.main-footer {
  font-size: .75rem;
  text-align: center;
  background-color: black;
  color: white;
}

/*******************************************************************************/

.main-header {
  display: flex;
  align-items: baseline;
  background-color: black;
  color: white;
  height: var(--banner-height);
  padding-left: 1rem;
}

.main-header a {
  text-decoration: none;
}

.main-header a:hover {
  text-decoration: underline;
}

.main-header h1 {
  flex: 1;
}

.main-header nav a {
    padding: 1rem 1rem 0 0;
}

/*******************************************************************************/

.main-body {
  display: flex;
}

.main-body aside {
  padding: 0 1rem;
  position: sticky;
  top: 1rem;
  align-self: flex-start;
  flex: 0.4;
}

.main-body main {
  margin: 0 1rem;
  flex: 1;
}

/*******************************************************************************/

.topic-ref {
  text-decoration: none;
}

.topic-ref .title:hover {
  text-decoration: underline;
}

nav .topic-ref {
  display: block;
}

nav .topic-ref .title {
  font-weight: bold;
  font-size: 1.5rem;
}

nav.all-topics .topic-ref {
  text-decoration: none;
  float: left;
  margin: 0 1rem 1rem 0;
  padding: .5rem;
  border-radius: .25rem;
  background-color: rgba(128, 128, 128, 0.125);
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

nav.all-topics .topic-ref:hover {
  background-color: rgba(0, 0, 0, 0.25)
}
